<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trybe.trybe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- START Added for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.trybe.trybe.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.trybe.trybe.permission.C2D_MESSAGE" />
    <!-- END Added for GCM -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                android:pathPrefix="/kL9r">
                <data
                    android:host="open"
                    android:scheme="TrYbE" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="trybedownload.app.link" android:pathPrefix="/kL9r" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ProfilePicActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".ProfileSetupActivity"
            android:label="@string/title_activity_profile_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JobPref1Activity"
            android:label="@string/title_activity_profile_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JobPref2Activity"
            android:label="@string/title_activity_profile_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileSetupCompletedActivity"
            android:label="@string/title_activity_profile_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeekActivity"
            android:label="@string/title_activity_seek"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReferActivity"
            android:label="@string/title_activity_refer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JobPostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_share_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ChatMessageActivity"
            android:parentActivityName=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatActivity" />
        </activity>
        <activity
            android:name=".ChangePassActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- START Added for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.trybe.trybe" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- END Added for GCM -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <provider
            android:authorities="com.facebook.app.FacebookContentProvider207491249637929"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_mpqicoKpmWa0i1MlOGHP3comCEcmlZwS" />
        <meta-data android:name="io.branch.sdk.auto_link_keys" android:value="key" />

    </application>

</manifest>